In [5]:
import pandas as pd
import numpy as np
import os
data = pd.read_csv('/Users/gaby/Desktop/SCHOOL/course-project-group_315/data/raw data/Video_Games.csv') # this a data file that gets loaded

# Method chaining begins
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
import pandas as pd
import numpy as np
import os
data = pd.read_csv('/Users/gaby/Desktop/SCHOOL/course-project-group_315/data/raw data/Video_Games.csv') 

def genre_sales(genre_type):
    return data.loc[data["Genre"] == genre_type, "Global_Sales"].sum()

def platform_sales(platform_type):
    return data.loc[data["Platform"] == platform_type, "Global_Sales"].sum()


df = (data
      .rename(columns={"Name": "Game"})
      .loc(axis = 1)["Game","Genre","Platform","Global_Sales"]
      
    )
     
def load_and_process(url_or_path_to_csv_file):
    df1 = (
        pd.read_csv(url_or_path_to_csv_file)
      
    )
    
    df2 = (
    df1
    .rename(columns={"Name": "Game"})
    .loc(axis = 1)["Game","Genre","Platform","Global_Sales"]
    )
   

    return df2

                                Game         Genre Platform  Global_Sales
0                         Wii Sports        Sports      Wii         82.53
1                  Super Mario Bros.      Platform      NES         40.24
2                     Mario Kart Wii        Racing      Wii         35.52
3                  Wii Sports Resort        Sports      Wii         32.77
4           Pokemon Red/Pokemon Blue  Role-Playing       GB         31.37
...                              ...           ...      ...           ...
16714  Samurai Warriors: Sanada Maru        Action      PS3          0.01
16715               LMA Manager 2007        Sports     X360          0.01
16716        Haitaka no Psychedelica     Adventure      PSV          0.01
16717               Spirits & Spells      Platform      GBA          0.01
16718            Winning Post 8 2016    Simulation      PSV          0.01

[16719 rows x 4 columns]

SyntaxError: 'break' outside loop (<ipython-input-58-9007b45ec56c>, line 6)